.text-input
{
    -fx-text-fill: #ffffff;
}
.background-color {
    -fx-background-color: #2a0033
}
.text-box{
    -fx-border-color: #9643A9;
    -fx-background-color:  #2A0033;
    -fx-background-insets: 0000;
    -fx-border-radius: 20;
    -fx-text-fill: #ffffff;
}